<%- include('partials/header') %>

    <div class="bg-white p-8 rounded-lg shadow-md fade-in-section">
        <section class="content-section hero-section"></section>
        <h1 class="text-3xl font-bold mb-4">A Smart Way to Approach Forex</h1>
        <p class="text-gray-700">
            Welcome to ZenPips, your guide to understanding Percentage Allocation Management Module (PAMM) accounts.
        </p>
    </section>
    </div>

    <section id="news-section" class="mt-8 fade-in-section">
        <h2 class="text-2xl font-bold mb-4">Latest Fintech News</h2>
        <div id="news-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        </div>
    </section>

    <section id="testimonials-section" class="mt-8 fade-in-section">
        <h2 class="text-2xl font-bold mb-4">What Our Investors Say</h2>
        <div id="testimonials-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">    </section>

    <%- include('partials/footer') %>